#draggable { width: 150px; height: 150px; padding: 0.5em; background-color: aqua;}
#draggable1 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px;}
#droppable1 { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; background-color: rgb(204, 236, 88); }
#resizable { width: 150px; height: 150px; padding: 0.5em; }
  #resizable h3 { text-align: center; margin: 0;background-color: rgba(216, 230, 230, 0.753); }
#slider{background-color: darkorange;}
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }